* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
	background-color: black;
	width: 99.9%;
}
.overflow {
	overflow: auto;
}
.contactinfo, .experience {
	font-family: "Slabo 27px", serif;
	color: white;
	font-size: 18px;
	background-color: black;
	height: 100%;
	width: 100%;
	margin: 0px;
	border: solid black;
}
.contactinfo h1 {
	font-weight: bold;
}
.contactinfo img {
	width: 155px;
	height: 212px;
}
.summary {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	color: black;
	height: 100%;
	width: 100%;
	margin: 0px;
	background-color: white;
	padding-right: 10px;
	padding-left: 15px;
}
.summary h1{
	text-align: center;
	margin: 0px;
}
h1, h2, h3 {
	margin: 5px;
}
.summary p {
	text-indent: 2em;
	margin-bottom: 0px;
}
.experience  h1, h3 {
	text-align: center;
}
.experience h2 {
	text-align: center;
	text-decoration: underline;
}
.experience h3 {
	font-size: 14px;
}
.experience a {
	color: white;
	text-decoration: none;
}
.experience p {
	font-weight: bold;
}
.experience a:hover {
	color: blue;
}
.experiencetabs {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	text-align: center;
	}
.experiencetabs #firsttab, #secondtab, #thirdtab, #fourthtab {
	display: inline-block;
	vertical-align: bottom;
	font-size: 15px;
	background-color: #7575A3;
	border: solid black;
	width: 25%;
	text-align: center;
	}
.exptabs-content .tab-pane {
	visibility: hidden;
	position: absolute;
	width: 100%;
}
.exptabs-content .active{
	display: inline;
	visibility: visible;
	position:absolute;
	width: 100%;
	font-family: 'Slabo 27px', serif;
	font-size: 16px;
	color: white;
	background-color: black;
	width: 100%;
	margin: 0px;
	border: none;
}
.certification  {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	color: black;
	width: 100%;
	background-color: #7575A3;
}
.certification .edu, .skills {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	width: 48%;
	padding-left: 100px;
}

.projects {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	color: black;
	background-color: white;
	padding-top: 2px;
	padding-bottom: 2px;
}
.projects .typeheader {
	font-size: 17px;
	font-weight: bold;
}
.projects .certs h1 {
	text-align: center;
}

    Status API Training Shop Blog About Help 

